{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block self_title %}<title>e-Memoire Inscription</title>{% endblock %}
{% block self_css %}<link rel="stylesheet" href="{% static 'css/formulaire.css' %}"> 
<style>
    #formulaire ul
{
    display: none;
}
</style>
{% endblock %}



{% block header%}
    <section id="top" class="d-flex align-items-center mt-5">

        <div class="container mt-5 justify-content-center align-content-center">
            <div class="row justify-content-center align-content-center">
                
                <div class="col-md-6">
                    <div class="card shadow py-2 bg-white" id="formulaire">
                        <div class="card-body pt-3 pb-3">                                    
                            <h4 class="para-center mb-4">Changement de mot de passe</h4>
                            <form action="{% url 'changePassword' %}" method="POST" id="formulaire">
                                {% csrf_token %}
                            
                                <div>{{ changePassForm.old_password|as_crispy_field}}</div>
                                <div>{{ changePassForm.new_password1|as_crispy_field}}</div>
                                <div>{{ changePassForm.new_password2|as_crispy_field}}</div>
                                
                                {% if success_password_message != "" %}
                                    <p class="text-success text-center" >{{success_password_message}}</p>
                                {% endif%}
                                <div class="text-center">
                                    <input type="submit" value="Enregistrer" id="submit" name="change_password">
                                </div>
    
                            </form>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
{% endblock%}

