{% extends "comptes/dashEnseignant.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block self_css %}
<link rel="stylesheet" href="{% static 'comptes/css/profile.css' %}"> 
<link rel="stylesheet" href="{% static 'css/formulaire.css' %}">
<link rel="stylesheet" href="{% static 'alertify/css/alertify.min.css' %}">
<link rel="stylesheet" href="{% static 'alertify/css/themes/default.min.css' %}">
{% endblock %}
{% block title %}Profile Enseignant-2.0{% endblock %}
{% block nav_right_element %}
    <li class="nav-item" role="presentation"><a class="nav-link " href="{% url 'dashboardTeacher' ' ' %}"><i class="fas fa-tachometer-alt"></i><span>Tableau de Bord</span></a></li>
    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'profileTeacher' %}"><i class="fas fa-user"></i><span>Profile</span></a></li>
    <link rel="stylesheet" href="{% static 'comptes/css/dashAgent.css' %}"> 
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row mt-2 mb-2">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h4 class="text-dark mb-0 pl-5" id="titre">Profile</h4>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-6 col-xl-4 mb-4">
            <div class="card shadow border-left-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Nombre Total de depot de Memoire</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0">
                                <span>
                                    {% if total < 10 %}
                                        0{{total}}
                                    {% else %}
                                        {{total}}
                                    {% endif %} 
                                </span>
                            
                            </div>
                        </div>
                        <div class="col-auto"><i class="fas fa-box fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 mb-4">
            <div class="card shadow border-left-success py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Memoires valides et mise en ligne</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0">
                                <span>
                                    {% if valid < 10 %}
                                        0{{valid}}
                                    {% else %}
                                        {{valid}}
                                    {% endif %} 
                                </span>
                            
                            </div>
                        </div>
                        <div class="col-auto"><i class="fas fa-check fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 mb-4">
            <div class="card shadow border-left-info py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Memoires en attente de mise en ligne</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0 mr-3">
                                <span>
                                    {% if no_valid < 10 %}
                                        0{{no_valid}}
                                    {% else %}
                                        {{no_valid}}
                                    {% endif %} 
                                </span>
                            
                            </div>        
                            
                        </div>
                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xl-4 mb-4">
            <div class="card shadow mb-3">                       
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Photo de Profil</p>
                </div>
                <div class="card-body text-center shadow pb-3 pt-2">
                    <img class="rounded-circle mb-3" src="{{currentTeacher.avatar.url}}" width="160" height="160" id="user_avatar">
                    <form action="{% url 'profileStudent' %}" method="POST" enctype="multipart/form-data" id="formulaire">
                        {% csrf_token %}
                    
                        <div>{{ avartarForm.avatar|as_crispy_field}}</div>
                        {% if success_avatar_message != "" %}
                            <p class="text-success text-center" >{{success_avatar_message}}</p>
                        {% endif%}
                        <div class="text-center">
                            <input type="submit" value="Enregistrer" id="submit" name="change_avatar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-8 mb-4">
            <div class="card shadow mb-3">                       
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Modifier les informations personnelles</p>
                </div>
                <div class="card-body text-center shadow pb-2 pt-2">
                    <form action="{% url 'profileStudent' %}" method="POST" enctype="multipart/form-data" id="formulaire">
                        {% csrf_token %}
                        {{ changeInfo.email|as_crispy_field}}
                        
                        <div class="text-center">
                            <input type="submit" value="Enregistrer" id="submit" name="change_info">
                        </div>
                        <div class="text-center mt-2"><a class="small" href="{% url 'changePassword' %}">Changer votre mot de passe</a></div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid pl-0 pr-0">
    <div class="row mt-5 mb-3 justify-content-center align-content-center">
        <div class="col-md-12 text-center">
            <h4 class="text-uppercase font-weight-bold" id="tabletitle">Toutes mes soutenances</h4>
        </div>
    </div>
</div>

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-md-12">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Thème</th>
                        <th>Université</th>
                        <th>Ecole</th>
                        <th>Filière</th>
                        <th>Option</th>
                        <th>Superviseur</th>
                        <th>Memoire en ligne</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                        <tr>
                            <td><a href="{% url 'viewTeacher' role.soutenance.memoire.code_memoire  %}">{{role.soutenance.memoire.topic}}</a></td>
                            <td>{{role.soutenance.memoire.filiere.entity.university}}</td>
                            <td>{{role.soutenance.memoire.filiere.entity}}</td>
                            <td>{{role.soutenance.memoire.filiere}}</td>
                            <td>{% if role.soutenance.memoire.option != None %}
                                    <span >{{role.soutenance.memoire.option.name}}</span>
                                {% else %}
                                    <span>Aucune Option </span>
                                {% endif %}
                        </td>
                            <td>{{role.soutenance.memoire.supervisor}}</td>
                            <td>
                                {% if role.soutenance.memoire.stateAfter == False %}
                                <span >Non</span>
                                    
                                {% else %}
                                <span class="text-success">Oui</span>
                                   
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                
                </tbody>
                
            </table>

        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% if errorMessage != "" %}
        <p class="d-none" id="error">{{errorMessage}} </p>
    {% endif%}
    {% if successMesage != "" %}
        <p class="d-none" id="message">{{successMesage}} </p>
    {% endif%}
        
    <script src="{% static 'alertify/alertify.min.js' %}"></script>
    

    <script>
        var loader = function(e){
        let file = e.target.files;
        let show = "<span>Fichier sélectionné : </span>"+ file[0].name;
        let output = document.querySelector("label[for = 'id_avatar']");
            let reader = new FileReader();
            reader.addEventListener("load",function(e){
            let data = e.target.result;
            let image = document.getElementById('user_avatar')
            image.src = data;   
        });
        reader.readAsDataURL(file[0])
        };

        let fileinput = document.getElementById('id_avatar');
        fileinput.addEventListener("change",loader)

        $(document).ready(function() {
            $('#example').DataTable({
                "searching":true,
                "paging":true,
                responsive: true,
                dom: 'Bfrtip',
                buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Liste des mémoires'
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Liste des mémoires'
                },

                {
                    extend: 'csvHtml5',
                    title: 'Liste des mémoires'
                }
                ],
                
                "language":{
                    "emptyTable": "Aucune soutenance",
                    "infoEmpty": "Aucune soutenance",
                    "zeroRecords": "Aucune soutenance trouvée",
                    "info": "Page _PAGE_ sur _PAGES_",
                    "infoFiltered": "(Filtre sur _MAX_ mémoire (s))",
                    "search" :"Rechercher  ",
                    "paginate" :{
                        "first":"Premier",
                        "last" : "Dernier",
                        "next" : "Suivant",
                        "previous": "Précédent",
                    }
                }
            });
        } );

        var errorMessage = document.getElementById("error")
        if(errorMessage != null){
            alertify.set('notifier', 'position','bottom-center')
            alertify.error(errorMessage.innerHTML);
        }

        var message = document.getElementById("message")
        if(message != null){
            alertify.set('notifier', 'position','bottom-center')
            alertify.success(message.innerHTML);
        }
    </script> 
{% endblock %}